

.container-cards{
    background-color: lightgray;
    height: 100vh;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    width: 10%;
}

.card-list{
    display: flex;
}

.current{
    display: flex;
    justify-content: center;
}

.list-container{
    display: flex;
    flex-wrap: wrap;
   gap: 2rem;
}