
.min-max{
    display: flex;
    gap: 1rem

}

.max-info-current{
    font-size: 14px;
}

.temp-info-current{
    font-size: 40px;
    margin: 0;
    font-weight: bold;
}

.text-card-current  > * {
    margin: 0;

}
.card-body-current{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*ILUSTRACIONES*/

.img-temp{
    background:url('../../assets/img/sunset.svg') !important;
}

.img-rainy{
    background:url('../../assets/img/ilustracionesClima/rain-couple.jpg');
    background-size: contain;
}

.img-night{
    background:url('../../assets/img/ilustracionesClima/night.jpg');
    background-size: contain;
}

.desc-temp{
    font-size:22px ;
}

.img-current{
    width: 8rem !important;
}

.text-card-current{
    display: flex;
    flex-direction: column;
    margin: 0;
}


.card-current-weather{
    border: none !important;
}



.div-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-small{
    width: 55px;
    height: 55px;
}

.div-temp-currrent{
    display: flex;
    justify-content: center;
}

.div-opts-current{
    display: flex;
    justify-content: space-between;
}

.name-opts-current{
    font-size: 14px;
    color: gray;
}

.value-opts-current{
    font-size: 14px;
    font-weight: bold;
}

[role="progressbar"]{
    animation: progress 2s 0.5s forwards;
    
    background: linear-gradient(90deg, rgba(255,187,48,1) 0%, rgba(255,209,98,1) 42%, rgba(255,255,255,1) 100%);

    aspect-ratio: 2/1;
    border-radius: 50% / 100% 100% 0 0;
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
}

[role="progressbar"]{
    content:"";
    position:absolute;
    top: 75px;
    width: 60%;
    height: 30%;
    background:conic-gradient(from 0.75turn at 50% 100%);
    mask: radial-gradient(at 50% 100%, white 55%, transparent 0);
    -webkit-mask: radial-gradient(at 50% 100%,#0000 64%, #000 0);
}


.sun-div{
    display: flex;
    justify-content: center;
}



.div-pos-sun > * {
    margin: 0;
    font-size: 11px;
}

.card-body{
    justify-content: space-between;
}

.div-pos-sun{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*POS SUN*/

.sun-sunrise{
    position: absolute;
    z-index:1;
    left: 45px;
    top: 62px;
}

.sun-fullMorning{
    position: absolute;
    z-index:1;
    left: 17px;
    bottom:70px;
}

.sunset{
    position: absolute;
    z-index:1;
    left: 85px;
    bottom: 90px;
}

.night{
    position: absolute;
    z-index:1;
    left: 95px;
    bottom: 65px;
}