@import '../../scss/style.scss';

.main-pageContainer{
    padding-left:$mainContainerPadd;
    padding-right: $mainContainerPadd;


    .header-cont{
        margin-bottom: $containerHeaderMB;
        padding-left: $mainContainerPadd;
        padding-right: $mainContainerPadd;
    }

    .current-cont{
        display: $displayFlex;
    }

    .col-current{
        width: $colCurrentWidth;
    }

    .fore-cont{
        display: $displayFlex;
        flex-direction: $containerForecastDir;
    }
}