
/*
.slick-arrow{

    background: none !important;
    padding: 10px!important;
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    left:91% !important;
}

.slick-prev{
    left: 89% !important;
  
}


.slick-prev:before, .slick-next:before {
    
    font-size: 20px;

    background:none !important;
     opacity: 1 !important;  
     color: black !important; 
     -webkit-font-smoothing: antialiased; 


}

.slick-slider {
    padding: 10px;
    color: black !important;
}

.slick-prev, .slick-next {
    color: black !important;
    position: absolute;
    top:-5% !important; 
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
  
    border: none;
    outline: none;

}

*/


.title-activities{
    font-size: 20px;
}

.slider-container-activ{
    display: flex;
}

.card-activity{
    width: 165px;
    height: 320px;
    border-radius: 50px;
}

.city-title{
    color: #FF385C;
}

.row-inputs{
    justify-content: flex-start;
    justify-content: space-evenly;
    display: flex;
    align-content: center;
    align-items: baseline;
}

.res-div{
    display: flex;
    justify-content: space-between;
    background-color: red;
}

.btn-filter{
    border-radius: 20px !important;
}

.container-activities{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.img-acti{
   height: 430px;
   width: 160px;


}

.experiences-near{
    font-size: 22px;
    font-weight: bold;
}


.footer-card > *{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 12px;
}



.section-activities{
    display: flex;
    overflow-x: auto;
    gap: 2rem;
}

::-webkit-scrollbar{
    height: 15px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
 

}



::-webkit-scrollbar-thumb{
    background: 	#f1f0f0;
    border-radius:12px;
    cursor: pointer;
  

}

::-webkit-scrollbar-thumb:hover{
    background:  #FF385C;
    border-radius:12px;
    cursor: pointer;
    transition: 1s;
   

}

.section-activities-filter{
    display: flex;
    overflow: auto;
    gap: 2rem;
}