

.slick-arrow{
    background-color: #FF385C !important;
    padding: 10px!important;
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.slick-slider {
    padding: 10px;
}

.title-activities{
    font-size: 20px;
}

.slider-container-activ{
    display: flex;
}

.card-activity{
    width: 165px;
    height: 320px;
    border-radius: 50px;
}

.city-title{
    color: #FF385C;
}

.row-inputs{
    justify-content: flex-start;
    justify-content: space-evenly;
    display: flex;
    align-content: center;
    align-items: baseline;
}
.btn-outline-danger{
    background-color: red;
}

.btn-filter{
    border-radius: 20px !important;
}

.container-activities{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.img-acti{
   height: 430px;
   width: 160px;


}


.footer-card > *{
    display: flex;
    flex-direction: column;
    margin: 0;
}



.section-activities{
    display: flex;
    overflow-x: auto;
    gap: 2rem;
}

::-webkit-scrollbar{
    height: 15px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}



::-webkit-scrollbar-thumb{
    background: #FF385C;
    border-radius:12px;
}