


#inputSearch{
    border-radius: 30px;
    border: 1px lightgray solid;
    padding: 10px;
}

.logo-img{
    width: 240px;
 
}



.celsius{
    background-color: #FF385C;
    width: 50px;
    height: 35px;
    display: flex;
    justify-content: center;
    padding-right: 5px;
    padding-top: 1px;
    border: none;
    border-radius: 100%;


    transition: all 0.3s 0.1s ease
}



.celsius > p{
    font-size:20px;
    font-weight: bold;
    color: white;
}

.fahrenheit{
    background:none;
    width: 50px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: none;
    border-radius: 100%;

    padding-left: 5px;
    padding-top: 1px;
}

.fahrenheit{
    font-size:20px;
    font-weight: bold;
}

.div-celsius{
    display: flex;
    margin-left: -10px;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    justify-content: center;
    gap: 5px;
    align-items: center;

}

.placeholder-icon{
    background-color: #FF385C;
    position: relative;
    right: 60px;
    padding: 8px;
    border-radius: 50%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    cursor: pointer;
    border: none;
}

.img-placeholder{
    width: 21px;
}