.forecast-min-max{
    display: flex;
    justify-content: space-between;
    gap:10px;
    align-items: center;
    margin-bottom: -10px;
}

.body-forecast{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.max-forecast{
    font-weight: bold;
}

