@import "~bootstrap/scss/bootstrap";

$redColor:#FF385C;

// FEATURE

$displayFlex:flex;

$gapFeat:1rem;
$marginBotFeat:36px;

$cardFeatWidth:200px;

$borderRadiusCard:12px;

//STYLES HOME

$mainContainerPadd : 6rem;



$containerHeaderMB:30px;

$colCurrentWidth:25rem;

$containerForecastDir:column;

//MENU

$borderMenu:50%;
$widthMenu:20rem;